<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/banner.js"></script>
  </head>
  
<body style="font-family:'하얀분필';  background-image:url('/img/board.jpg'); background-size: cover;" class="body">
  <a href="/welcome">
  <img src="/img/gsm.png" alt="" style="position: absolute; left:0px;"></a>
  </div>
  <div class="box2" style="left:30px;">
    <img src="/img/bik.png" alt="" style="position:relative; left: -80px; z-index:99;">
    <div class="boardbox" style="text-align: center;">
        <span style="position: relative; top:-80px;left:70px;">비크티니 게시판</span>
           NO  <span style="padding: 0 360px 0 40px;"> |</span>
           제목  <span style="padding: 0 40px 0 360px;"> |</span>
           작성자<span style="padding: 0 40px 0 40px;"> |</span>
           작성일  <span style="padding: 0 40px 0 40px;"> |</span>
           조회수  <span style="padding: 0 40px 0 40px;"> |</span> 음<hr>
           <div style="line-height: 450px;">게시물이 존재하지 않습니다.</div>
      
      <a href="/process/contentwriteform">글쓰기</a>
      
    </div>
  </div>

</html>
